// Colors

$color-initial: #fff !default;
$color-primary: #00f !default;
$color-secondary: #000 !default;
$color-tertiary: #6c757d !default;
$color-quaternary: #ced4da !default;
$color-quinary: #f8f8f8 !default;