/* Mobile first base grid */
main {
  @extend .row;
}

main > ul,
main > aside,
main > article {
  @extend .column;
}

/* Larger than mobile grid */
@media (min-width: 40rem) {
  main > ul, main > article {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }

  .home main > ul  {
    padding-right: 5rem;
  }

  main > article {
    margin: auto;
  }

  main > aside {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-left: 5rem;
  }
}
