aside h2 {
  color: $color-secondary;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 3rem;
  margin-bottom: 1rem;
  &:first-of-type {
    margin-top: 15.5px;
  }
}

aside {
  color: $color-tertiary;
}

.author-portrait {
  max-width: 40%;
  height: auto;
  border-radius: 0.5rem;
  float: right;
  margin-left: 0.5rem;
}

// Article tags
aside ul {
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-transform: lowercase;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    li {
      margin-right: 1rem;
    }
    a {
      color: $color-tertiary;
      text-decoration-line: underline;
      &:hover {
        color: $color-tertiary;
        text-decoration-line: none;
      }
    }
  }
