body > footer {
  // extend nav styling for social links in footer
  // Base style is defined in layout/_navigation.scss
  @extend nav;
  text-align: center;
  border-top:solid 1px $color-quaternary;
  margin: 1.5rem 0 0 0 ;
  ul {
    margin-bottom: 1rem;
    text-transform: none;
    a {
      color: $color-tertiary;
      text-decoration-line: underline;
      &:hover {
        color: $color-tertiary;
        text-decoration-line: none;
      }
    }
  }
  // Navigation no bottom margin
  // Base style is defined in layout/_navigation.scss
  nav {
    margin-bottom: 0rem;
  }
}

.article footer {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
    margin: auto;
}
