nav {
  font-size: 1.8rem;
  font-weight: normal;
  font-variant: normal;
  margin: 1rem 1rem;
  ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    li {
      margin: 0 1rem;
      padding-top: 1rem;
    }
  }
}
