<footer>
  {% include "miksa/components/_nav.njk" %}
  <ul>
    {% asyncEach platform, properties in social_media %}
    	<li>
        <a href="{{ properties.url }}" rel="noreferrer noopener me" target="_blank" title="{{ properties.name }}">
          {{ properties.name }}
        </a>
      </li>
    {% endeach  %}
    <li>
      <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0002-6188-6859" href="https://orcid.org/0000-0002-6188-6859" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0002-6188-6859</a></div>
    </li>
  </ul>
  <p>
    &copy; {{ now | date("YYYY") }} <a href="{{rootpath}}">{{ site_title }}</a>.
      Published with <a href="https://github.com/neumannjs/Janos">Janos</a>.
      Theme <a href="https://github.com/neumannjs/Miksa">Miksa</a>.
  </p>
</footer>