<nav>
  <ul>
      {% asyncEach nav in navigation %}
        {% if nav.navpath %}
          {% set path = rootpath + nav.navpath %}
        {% else %}
          {% set path = rootpath + nav.path %}
        {% endif %}
        <li>
          <a href="{{ path | replace('//', '/') }}" title="{{ nav.label }}">
            {{ nav.label }}
          </a>
        </li>
      {% endeach  %}
    </ul>
</nav>