<nav>
  <ul>
      {% asyncEach nav in navigation %}
        <li>
          <a href="{{ rootpath }}{{ nav.navpath if nav.navpath else nav.path }}" title="{{ nav.label }}">
            {{ nav.label }}
          </a>
        </li>
      {% endeach  %}
    </ul>
</nav>