<span>
    {% if path %}<a class="u-url" href="{{ rootpath }}{{ path }}">{% endif %}
    <time class="dt-published" datetime="{{ date | date() }}">{{ date | date("MMMM D, YYYY") }}</time>{% if path %}</a>{% endif %}
    {{ reading.time(contents) }}
</span>
<ul>
    {% for tag in tags %}<li><a class="p-category" href="{{ rootpath }}topics/{{ tag.slug }}/">{{ tag.name }}</a></li>
    {% endfor -%}
</ul>   
