// List of articles
.home main > ul {
  list-style: none;
}

// Alternative color for post date, reading time and tags
// Base style is defined in base/_typography.scss
.home article {
  time,
  .reading-time {
    color: $color-tertiary;
    margin-right: 3rem;
  }
  p:first-of-type {
    margin-top: 1rem;
  }
}

// Article tags list has no margin
// Base style is defined in base/_typography.scss
.home article header ul {
  margin: 0;
}

// Article header bottom line
.home article header {
  border-bottom: 1px solid $color-quaternary;
}

.home article header h1 {
  margin-bottom: 0.5rem;
}
