{% extends "components/micropub/_micropub.njk" %}

{% block metadata %}
  {% include "components/micropub/_posse-links.njk" %}
  {% include "components/micropub/_webmentions.njk" %}
{% endblock %}

{% block engagement %}
  {% include "components/micropub/_reposts.njk" %}
  {% include "components/micropub/_likes.njk" %}
  {% include "components/micropub/_replies.njk" %}
{% endblock %}