{% extends "miksa/components/micropub/_micropub.njk" %}

{% block metadata %}
  {% include "miksa/components/micropub/_webmentions.njk" %}
  {% include "miksa/components/micropub/_posse-links.njk" %}
{% endblock %}