<div class="metadata">
  <a href="{{ rootpath }}{{ path }}" class="u-url">
    <time class="dt-published" datetime="{{ date | date() }}">{{ date | date("YYYY-MM-DD HH:mm:ss Z") }}</time>
  </a>
  {% if not excerpt %}
  	{% asyncEach link in syndication %}
  	{% if link.destination %}
    	<a href="{{ link.url }}" class="u-syndication icon-{{ link.destination }}">{{ link.destination }}</a>
  	{% else %}
   	 <a href="{{ link }}" class="u-syndication">{{ link }}</a>
  	{% endif %}
  	{% endeach %}
  {% endif %}
</div>