{% if webmentions['repost-count'] > 0 %}
  <ul class="reposts ">
    {% asyncEach child in webmentions.children | reverse %}
    {% if child['wm-property'] == 'repost-of' %}
      <li class="p-repost h-cite">
        <a href="{{ child.url }}" class="u-url">
          <div class="p-author h-card">
            <img src="{{ child.author.photo }}" alt="{{ child.author.name }}" class="u-photo">
            <a class="p-name u-url" href="{{ child.author.url }}">{{ child.author.name }}</a>
          </div>
        </a>
      </li>
    {% endif %}
    {% endeach %}
  </ul>
{% endif %}