<h2>About</h2>
<div class="h-card" data-u-url="{{rootpath}}" data-p-name="{{ site_title }}" data-u-uid="{{rootpath}}">
<img
  src="{{ about_img }}"
  alt="{{ site_title }}"
  class="author-portrait u-photo"
/>
<p class="p-note">
  {{ about | safe }}
</p>
</div>