<h2>About</h2>
<a class="h-card" href="{{rootpath}}">
<data class="p-name" value="{{ site_title }}" >
<img
  src="{{ about_img }}"
  alt="{{ site_title }}"
  class="author-portrait u-photo"
/>
<p class="p-note">
  {{ about | safe }}
</p>
</data>
</a>