<h2>About</h2>
<img
  src="http://placeimg.com/150/150/people/grayscale"
  alt="Author"
  class="author-portrait"
/>
<p>
  Trigger warning: I like pineapple on my pizza and I film with my phone
  vertically. RT = full endorsement of everything the retweetee ever
  said, wrote or thought
</p>
<p>
  Trigger warning: I like pineapple on my pizza and I film with my phone
  vertically. RT = full endorsement of everything the retweetee ever
  said, wrote or thought
</p>