{% set body_class = "home" %}
{% extends "_layout.njk" %}

{% block content %}
<main>
  <ul>
    {% for post in collections.posts %}
    <li>
      <article>
        <header>
          <h1>{{ post.title }}</h1>
          <p><time datetime="2019-03-27">March 27, 2019</time></p>
        </header>
        <section>
            <p>
            TEST
          </p>
        </section>
      </article>
    </li>
    {% endfor %}
  </ul>
  {% include "components/_aside.njk" %}
</main>
{% endblock %} 