{% set body_class = "home" %}
{% extends "_layout.njk" %}

{% block title %}
{{ name }}
{% endblock %}

{% block content %}
<main>
  <ul>
    {% for post in collections.posts %}
    <li>
      <article>
        <header>
          <h1><a href="/NeumannSSG/{{ post.path }}">{{ post.title }}</a></h1>
          <p><time datetime="{{ post.date | date("YYYY-MM-DD") }}">{{ post.date | date("MMMM D, YYYY") }}</time></p>
        </header>
        <section>
            <p>
            {{ post.excerpt | safe }}
          </p>
        </section>
      </article>
    </li>
    {% endfor %}
  </ul>
  {% include "components/_aside.njk" %}
</main>
{% endblock %} 