{% set body_class = "home" %}
{% extends "_layout.njk" %}

{% block content %}
    <main>
      <article>
        <header>
          <h1>{{ title }}</h1>
          <p><time datetime="{{ date | date("YYYY-MM-DD") }}">{{ date | date("MMMM D, YYYY") }}</time></p>
          <ul>
            <li><a href="#">keyword 1</a></li>
            <li><a href="#">keyword 2</a></li>
            <li><a href="#">keyword 3</a></li>
          </ul>
        </header>
        <section>
          {{ contents | safe }}
        </section>
      </article>
    </main>
{% endblock %} 

