<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <meta name="description" content="{{ description }}">
    {% include "miksa/components/_icons.njk" %}
    <title>{{ page_title }}</title>
    <link
      href="{{ rootpath }}styles/main.css"
      rel="stylesheet"
    />
    <link rel="webmention" href="https://webmention.io/www.gijsvandam.nl/webmention" />
    <link rel="pingback" href="https://webmention.io/www.gijsvandam.nl/xmlrpc" />
  </head>
  <body class="{{ body_class }}{% if body_class === 'article' %} h-entry{% endif %}">
    {% include "miksa/components/_header.njk" %}
    {% block content %}
    {% endblock %}
    {% include "miksa/components/_footer.njk" %}
  </body>
  <script data-goatcounter="https://gijsvandam.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</html>
