{% set body_class = "micropub" %}
{% set page_title = title %}
{% extends "miksa/_layout_simple.njk" %}

{% block content %}
    <main>
      {% include "miksa/components/_micropub.njk" %}
    </main>
{% endblock %} 
