{% set body_class = "article" %}
{% set page_title = title %}
{% extends "_layout.njk" %}

{% block content %}
    <main>
        <header>
          <h1>{{ title }}</h1>
        </header>
        <section>
          {{ contents | safe }}
        </section>
    </main>
{% endblock %} 

