{% set body_class = "article" %}
{% set page_title = title %}
{% extends "miksa/_layout.njk" %}
{% import "miksa/macros/reading-time.njk" as reading %}

{% block content %}
  <main>
    <article>
      {% if math %}
        {# MathJax imports #}
        <script>
          MathJax = {
            chtml: {
              scale: 1, // global scaling factor for all expressions
              minScale: 1, // smallest scaling factor to use
            }
          };
        </script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
      {% endif %}
      <header>
        <h1 class="p-name">{{ title }}</h1>
        {% include "miksa/components/_post-info.njk" %}
      </header>
      <section class="e-content">
        {{ contents | safe }}
      </section>
      {% include "miksa/components/micropub/_webmentions.njk" %}
      {% include "miksa/components/micropub/_reposts.njk" %}
      {% include "miksa/components/micropub/_likes.njk" %}
      {% include "miksa/components/micropub/_replies.njk" %}
      {% asyncEach link in syndication %}
        {% if link.destination %}
          <a href="{{ link.url }}" class="u-syndication icon-{{ link.destination }}">{{ link.destination }}</a>
        {% else %}
         <a href="{{ link }}" class="u-syndication">{{ link }}</a>
        {% endif %}
      {% endeach %}
      {% asyncEach url in libraries %}
      <script src="{{ url }}" ></script>
      {% endeach %}
    </article>
  </main>
{% endblock %}