.article h1,
.article header {
  text-align: center;
}

.article article header span {
  display: inline-block;
  width: 100%;
  .reading-time {
    display: inline;
  }
}

.article time {
  margin-right: 3rem;
}

.article article header ul {
  li a {
    color: $color-secondary;
    :hover {
      color: $color-secondary;
    }
  }
}
