{% import "chalk/macros/reading-time.njk" as reading %}
<div class="article-list-footer">
  <span class="article-list-date">
    {{ date | date("MMM D, YYYY") }}
  </span>
  <span class="article-list-divider">-</span>
  <span class="article-list-minutes">
    {{ reading.time(contents) }}
  </span>
  <span class="article-list-divider">-</span>
  <div class="article-list-tags">
    {% for tag in tags %}
      <a href="{{ rootpath }}topics/{{ tag.slug }}/" title="See all posts with tag '{{ tag.name }}'">{{ tag.name }}</a>
    {% endfor %}
  </div>
</div>