{% import "chalk/macros/svg-icon.njk" as icon %}

<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <a href="{{ rootpath }}" class="header-logo" title="{{ site_title }}">{{ site_title }}</a>
  <ul class="header-links">
    {% for nav in navigation %}
      <li>
        <a href="{{ rootpath }}{{ nav.navpath if nav.navpath else nav.path }}" title="{{ nav.label }}">
          {{ icon.icon(nav.icon) }}
        </a>
      </li>
    {% endfor %}
    {% for platform, properties in social_media %}
    	<li>
        <a href="{{ rootpath }}{{ properties.url }}" rel="noreferrer noopener" target="_blank" title="{{ properties.name }}">
          {{ icon.icon(platform) }}
        </a>
      </li>
    {% endfor %}
    {% if theme_toggle %}
      <li>
        <a onclick="toggle()" title="Toggle Theme">
          {{ icon.icon("theme") }}
        </a>
      </li>
    {% endif %}
  </ul>
</nav>

{% if tag_nav_enabled %}
  <ul class="header-tags {% if scrollappear_enabled %}scrollappear{% endif %}">
    {% for tag in tags | dictsort %}
      {% if loop.index == 11 %}
        <li>...</li>
        <li><a href="/topics/">Show all</a></li>
      {% elif loop.index < 11 %}
        <li><a href="{{ rootpath }}topics/{{ tag.slug }}/">{{ tag.name | capitalize }}</a></li>
			{%endif %}
    {% endfor %}
  </ul>
{% endif %}