{% macro icon(name) %}
<svg xmlns="http://www.w3.org/2000/svg" class="icon-{{ name }}">
  <use href="{{ rootpath }}icons/{{ name }}.svg#icon-{{ name }}" xlink:href="{{ rootpath }}icons/{{ name }}.svg#icon-{{ name }}"></use>
</svg>
{% endmacro %}