{% macro icon(name) %}
	{% include "chalk/assets/icons/" + name + ".svg" %}
	<svg xmlns="http://www.w3.org/2000/svg" class="icon-{{ name }}">
  	<use href="#icon-{{ name }}"></use>
	</svg>
{% endmacro %}