{% set page_title = "Posts for " + tag %}
{% set page_description = "" %}
{% set page_url = domain + rootpath %}
{% extends "chalk/_layout.njk" %}
{% import "chalk/macros/svg-icon.njk" as icon %}

{% block content %}
{% include "chalk/partials/icons/arrow-left.svg" %}
{% include "chalk/partials/icons/arrow-right.svg" %}
<ul class="article-list">
  {% asyncEach post in pagination.files %}
    <li class="article-list-item {% if scrollappear_enabled %}scrollappear{% endif %}">
      <a href="{{ rootpath }}{{ post.path }}" title="{{ post.title }}">
        <h5>
          {{ post.title }}
          {{ icon.icon("arrow-right") }}
        </h5>
      </a>
      <p>
        {% if post.description %}
          {{ post.description }}  
        {% else %}
          {{ post.excerpt | safe }}
        {% endif %}
      </p>
      {% include "chalk/partials/info-footer.njk" %}
    </li>
  {% endeach %}
  {% if pagination.pages.length > 1 %}
    <li class="article-pagination {% if scrollappear_enabled %}scrollappear{% endif %}">
      {% if pagination.next %}
        <a href="{{rootpath}}{{pagination.next.path}}" class="article-pagination-left">{{ icon.icon("arrow-left") }} Older posts</a>
      {% endif %}
      {% if pagination.previous %}
        <a href="{{rootpath}}{{pagination.previous.path}}" class="article-pagination-right">Newer posts {{ icon.icon("arrow-right") }}</a>
      {% endif %}
    </li>
  {% endif %}
</ul>
{% endblock %}
